/* *, html, body { */
/*     margin: 0; */
/*     padding: 0; */
/*     box-sizing: border-box; */
/* } */

/* .invoice { */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: center; */
/*     margin: 10%; */
/* } */

button {
    height: 100px;
    font-size: large;
}

/* img { */
/*     margin-left: 45%; */
/*     margin-top: 2%; */
/* } */

.logo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.border {
    border: 1px solid black;
}
