{% extends "_base.html" %}
{% load static %}

{% block content %}
<table>
  <tr>
  <th class="border"> Date </th>
  <th class="border"> Status </th>
  <th class="border"> Invoice NO </th>
  <th class=" border"> Parcel Id </th>
  <th class=" border"> Customer Name </th>
  <th class=" border"> Customer Address </th>
  <th class=" border"> Customer Mobile </th>
  <th class=" border"> Items </th>
  <th class=" border"> Delivery Charge </th>
  <th class=" border"> Courier Charge </th>
  <th class=" border"> Invoice Amount </th>
  <th class=" border"> Recievable Amount </th>
  <th class=" border"> Courier Type </th>
  <th class=" border"> Order By </th>
  </tr>

{% for invoice in invoices %}
  <tr>
  <td class=" border">{{ invoice.created_on }}</td>
  <td class=" border">{{ invoice.status }}</td>
  <td class=" border">{{ invoice.invoice_no }}</td>
  <td class=" border">{{ invoice.parcel_id }}</td>
  <td class=" border">{{ invoice.customer.name}}</td>
  <td class=" border">{{ invoice.customer.address }}</td>
  <td class=" border">{{ invoice.customer.mobile }}</td>

  <td class=" border">
    <table>
  {% for product in invoice.products.all %}
  <tr class="border-big">
    <td class="border">{{ product.name }}</td>
    <td class="border">{{ product.code }}</td>
    <td class="border">{{ product.price }}</td>
    <!-- <p class="col">{{ product.available }}</p> -->
    {% for size in product.size_set.all %}
        <td class="col">{{ size.size }}</td>
        <td class="col">{{ size.quantity }}</td>
    {% endfor %}
</tr>
  {% endfor %}

  </table>
  </td>
  <td class="col border">{{ invoice.delivery_charge }}</td>
  <td class="col border">{{ invoice.courier_charge }}</td>
  <td class="col border">{{ invoice.invoice_amount }}</td>
  <td class="col border">{{ invoice.receivable_amount }}</td>
  <td class="col border">{{ invoice.courier_type }}</td>
  <td class="col border">{{ invoice.order_by }}</td>
  </tr>
  {% endfor %}
</table>
  {% endblock content %}
