{% extends "_base.html" %}
{% load static %}

{% block content %}
  {% for invoice in invoices %}
<div class="history container">
  <p>{{ invoice.invoice_no }}</p>
  <p>{{ invoice.date }}</p>
  <p>{{ invoice.customer_name }}</p>
  <p>{{ invoice.customer_address }}</p>
  <p>{{ invoice.customer_mobile }}</p>
  <!-- <p>{{ invoice.products }}</p> -->
  <!-- {% for product in products %} -->
  <!-- <p>{{ product.product_price }} -->
  <!-- {% endfor %} -->
  <p>{{ invoice.delivary_charge }}</p>
  <p>{{ invoice.tax }}</p>
</div>
  {% endfor %}
{% endblock content %}
